---
---

// Imports
@import "config";


p {
  color: $content-font;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


nav, footer {
  background-color: $nav-background;
}

.footer-copyright {
  background-color: $footer-secondary-background;
  color: #fff;
}

footer, footer a {
  color: #fff;
}

.btn.light {
    color: #252525;
    background-image: none;
    background-color: #fff;
    border-color: transparent;
  }

.navbar-brand {
  margin-right: 0rem;
  font-weight: 700;
  color: $nav-font;
  font-size: 1.45rem;
} 

.jumbotron {
  border-radius: 0rem;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.jumbotron.main {
  padding: 8rem 1rem;
  h1 {
    font-size: 3rem;
  }
  p.lead {
    font-size: 2rem;
  }
  
  .btn {
    color: #fff;
    background-image: none;
    background-color: $nav-background;
    border-color: transparent;
    font-size: 1.25rem;
  }
}

.jumbotron.primary {
    background-color: $nav-background;
}

.jumbotron.sub-tron {
  margin-top: 0;
  background: #fff;
  
  h2 {
    font-size: 1.5rem;
  }
}

.jumbotron.post-colour-black {
  background: #333333;
}

.jumbotron.post-colour-yellow {
  background: #333333;
}

.jumbotron.dark, .jumbotron.dark p {
  color: #fff;
}

.jumbotron.secondary {
  background: $secondary-jumbotron-background;
}

ul.posts {
  list-style-type: none;
  padding: 0px;
}

ul.posts h2 > a {
  color: #292b2c;
  font-size: 1rem;
  font-weight: 600;
}

i#i-twitter {
  color: #363636;
}

.card-block.guides {
  border-top: 5px solid #FF5D5B;
}

.card-block.reviews {
  border-top: 5px solid #5271FF;
}

.card-block.help {
  border-top: 5px solid #FFF100;
}
