---
---

$nav-background: #252525;
$nav-font: #fff;

$jumbotron-background: #ECEEEF;
$jumbotron-font: #FFF;

$content-font: #24292e;

p {
  color: $content-font;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#bd-main-nav {
  display: inline-block;
}

.bd-navbar {
  min-height: 4rem;
  background-color: $nav-background;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  border-bottom-color: #2e3d54;
}

.navbar-nav {
  margin: auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar-nav .nav-item .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: $nav-font;
  opacity: 0.75;
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .navbar-brand, .navbar-brand:hover {
  color: $nav-font;
  background-color: transparent;
  opacity: 1;
}

.navbar-brand {
  margin-right: 0rem;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: $nav-font;
  font-size: 1.45rem;
} 

.jumbotron {
  border-radius: 0rem;
}

.jumbotron.home-image {
  background-image: url("/images/milky-way-923801_1280.jpg");
  background-size: cover;
}

.jumbotron.about-image {
  background-image: url("/images/milky-way-923801_1280.jpg");
  background-size: cover;
}

.jumbotron.post-colour-black {
  background: #333333;
}

.jumbotron.post-colour-yellow {
  background: #333333;
}

.jumbotron.dark, .jumbotron.dark p {
  color: #fff;
}

.jumbotron.quote {
  background: #E9E6E9;
}

ul.posts {
  list-style-type: none;
  padding: 0px;
}

ul.posts h2 > a {
  color: #292b2c;
  font-size: 1rem;
  font-weight: 600;
}

i#i-twitter {
  color: #363636;
}
