 .bd-navbar {
  min-height: 4rem;
  background-color: #563d7c;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

 .navbar-nav .nav-item .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #cdbfe3;
}
 
