---
---

// Imports
@import "config";


p {
  color: $content-font;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


nav, footer {
  background-color: $nav-background;
}

.btn.light {
    color: #252525;
    background-image: none;
    background-color: #fff;
    border-color: transparent;
  }

.navbar-brand {
  margin-right: 0rem;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: $nav-font;
  font-size: 1.45rem;
} 

.jumbotron {
  border-radius: 0rem;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.jumbotron.main {
  min-height: 480px;
  padding: 8rem 1rem;
  h1 {
    font-size: 3.5rem;
  }
  p.lead {
    font-size: 2.25rem;
  }
  
  .btn {
    color: #fff;
    background-image: none;
    background-color: #AF1280;
    border-color: transparent;
  }
}

.jumbotron.sub-tron {
  margin-top: 0;
  background: #fff;
  
  h2 {
    font-size: 1.5rem;
  }
}

.jumbotron.post-colour-black {
  background: #333333;
}

.jumbotron.post-colour-yellow {
  background: #333333;
}

.jumbotron.dark, .jumbotron.dark p {
  color: #fff;
}

.jumbotron.quote {
  background: #FBFBFB;
}

ul.posts {
  list-style-type: none;
  padding: 0px;
}

ul.posts h2 > a {
  color: #292b2c;
  font-size: 1rem;
  font-weight: 600;
}

i#i-twitter {
  color: #363636;
}
