---
---

$nav-background: #252525;
$nav-font: #fff;

$jumbotron-background: #ECEEEF;
$jumbotron-font: #FFF;

$content-font: #24292e;

p {
  color: $content-font;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#bd-main-nav {
  display: inline-block;
}

.bd-navbar {
  min-height: 4rem;
  background-color: $nav-background;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  border-bottom-color: #2e3d54;
}

.navbar-nav {
  margin: auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

.navbar-nav .nav-item .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: $nav-font;
  opacity: 0.75;
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .navbar-brand, .navbar-brand:hover {
  color: $nav-font;
  background-color: transparent;
  opacity: 1;
}
.btn.light {
    color: #252525;
    background-image: none;
    background-color: #fff;
    border-color: transparent;
  }

.navbar-brand {
  margin-right: 0rem;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: $nav-font;
  font-size: 1.45rem;
} 

.jumbotron {
  border-radius: 0rem;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.jumbotron.main {
  min-height: 530px;
  padding: 8rem 1rem;
  h1 {
    font-size: 3.5rem;
  }
  p.lead {
    font-size: 2.25rem;
  }
  
  .btn {
    color: #fff;
    background-image: none;
    background-color: #AF1280;
    border-color: transparent;
  }
}

.jumbotron.sub-tron {
  margin-top: 0;
  background: #fff;
  
  h2 {
    font-size: 1.5rem;
  }
}

.jumbotron.post-colour-black {
  background: #333333;
}

.jumbotron.post-colour-yellow {
  background: #333333;
}

.jumbotron.dark, .jumbotron.dark p {
  color: #fff;
}

.jumbotron.quote {
  background: #FBFBFB;
}

ul.posts {
  list-style-type: none;
  padding: 0px;
}

ul.posts h2 > a {
  color: #292b2c;
  font-size: 1rem;
  font-weight: 600;
}

i#i-twitter {
  color: #363636;
}
