---
layout: default
title: Home
canonical: /
---

<!-- Home Jumbotron
================================================== -->
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Bringing you the best reviews and guides for bowls players of all abilities</h1>
        <h2 class="lead">Improve your game with the best equipment, tips and tricks covering Indoor, Lawn and Crown Green Bowls</h2>
        <a href="{{ site.baseurl }}/guide/best-rated-bowls-for-leads" class="btn">Find Top Rated Woods Now</a>
    </div>
</section>

<section>
    <div class="section-title">
        <h2><span>What we do</span></h2>
    </div>

    <div class="row listrecent">
        <div class="col-md-4 grid-item">
            <div class="card">
                <!--<img class="img-fluid" src="https://krussll.github.io/holdingshot//assets/images/3.jpg" alt="Good etiquette in bowls, and why it's important">-->

                <div class="card-block guides">
                    <h2 class="card-title">Guides</h2>
                    <h4 class="card-text">Covering all aspects of bowls. For beginners to the advanced player</h4>
                    <div>
                        See all Guides
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 grid-item">
            <div class="card">
                <!--<img class="img-fluid" src="https://krussll.github.io/holdingshot//assets/images/3.jpg" alt="Good etiquette in bowls, and why it's important">-->

                <div class="card-block reviews">
                    <h2 class="card-title">Reviews</h2>
                    <h4 class="card-text">Woods, bags, shoes. We have the best gear covered</h4>
                    <div>
                        See all Reviews
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 grid-item">
            <div class="card">
                <!--<img class="img-fluid" src="https://krussll.github.io/holdingshot//assets/images/3.jpg" alt="Good etiquette in bowls, and why it's important">-->

                <div class="card-block help">
                    <h2 class="card-title">Help and Support</h2>
                    <h4 class="card-text">Improve your game with the best tips and tricks </h4>
                    <div>
                        See all Help and Support
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>Latest Stories</span></h2>
        </div>

        <div class="masonrygrid row listrecent">
            {% for post in site.posts limit:4 %}

                {% include postbox.html %}

            {% endfor %}
        </div>
    </div>

</section>
