<head>
  <title>British Flat Earth Association | {{ page.title }}</title>
  <meta name="description" content="British Flat Earth Association - Promoting Flat Earth Theory in the UK" />
  <meta name="keywords" content="Flat Earth, British Flat Earth Association, bfea, Flat Earth Society, Flat Earth Theory, conspiracy, science" />
  
  <meta property="og:title" content="British Flat Earth Association - Promoting Flat Earth Theory in the UK" />
  <meta property="og:url" content="http://www.bfea.co.uk" />
  <meta property="og:description" content="British Flat Earth Association" />
  <meta property="og:site_name" content="British Flat Earth Association" />
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">

  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
