<header class="navbar navbar-light navbar-toggleable-md bd-navbar">
  <nav class="container">
    <a class="navbar-brand" href="{{ site.url }}">
      Boilerplate
    </a>
    
    <div class="navbar-nav-scroll" id="bd-main-nav">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}#">Lorem Ipsum</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
