
<header class="navbar navbar-dark navbar-toggleable-md bd-navbar">
  <nav class="container text-center">
    <a class="navbar-brand" href="{{ site.url }}">
      {{ site.name }} 
    </a>
    
    <div class="navbar-nav-scroll" id="bd-main-nav">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.url }}/about" id="navbarDropdownMenuLink" data-hover="dropdown">About</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ site.url }}/about/vision-and-values">Vision and values</a>         
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/articles' %} active{% endif %}" href="{{ site.url }}/articles">Articles</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
