<nav class="navbar navbar-dark  navbar-expand-lg">
  <a class="navbar-brand justify-content-md-center" href="{{ site.url }}">GMC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link{% if  page.layout == 'home' %} active{% endif %}" href="{{ site.url }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/about' %} active{% endif %}" href="{{ site.url }}/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/articles' %} active{% endif %}" href="{{ site.url }}/articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if page.url == '/workbook' %} active{% endif %}" href="{{ site.url }}/workbook">Buy the Workbook</a>
      </li>
    </ul>
  </div>  
</nav>





