<section class="heading">
    <h1>Etsy Search Inspector</h1>
    <p>Try our Etsy Listing Checker. Get a glimpse into how other sellers are ranking</p>
</section>

<section class="search">
    <div>
        <input type="text" placeholder="Enter your keyword" id="keyword" />
        <button type="submit" id="getKeywords">Go!</button>
    </div>
</section>

<div id="result" class="hide">
    <section class="overview">
        <div class="row">
            <div class="col-sm-12 col-md-4 stat">
                <h3>Listings Analysed</h3>
                <div class="stat-value" data-analysed-listings></div> 
            </div>
            <div class="col-sm-12 col-md-4 stat">
                <h3>Competiton</h3>
                <div class="stat-value" data-competiton></div>
            </div>
            <div class="col-sm-12 col-md-4 stat">
                <h3>Unique Competing Stores</h3>
                <div class="stat-value" data-unique-stores></div>
            </div>
        </div>
    </section>

    
    <section class="top-ranking">
        <div data-top-ranking>
            <h3>Ranking Listings</h3>    

            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div>Average Age</div>       
                    <div data-avg-age></div>  
                </div>

                <div class="col-sm-12 col-md-3">
                    <div>Average Views (Monthly)</div>           
                    <div data-avg-monthly-views></div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div>Strong Keyword Matches</div>   
                    <div data-strong-keyword-match></div>
                </div>

                <div class="col-sm-12 col-md-3">              
                    <div>Partial Keyword Matches</div> 
                    <div data-partial-keyword-match></div>
                </div>
            </div>            
            <div class="row">
                <div class="col">
                    <div>Common Tags</div>
                    <div data-tags></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div>Images</div>
                    <div data-images></div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="top-performing">
        <div data-top-performing>
            <h3>Performing Listings</h3> 

            <div class="row">
                <div class="col-sm-12 col-md-3">      
                    <div>Average Age</div>       
                    <div data-avg-age></div>  
                </div>

                <div class="col-sm-12 col-md-3">      
                    <div>Average Views (Monthly)</div>           
                    <div data-avg-monthly-views></div>
                </div>

                <div class="col-sm-12 col-md-3">      
                    <div>Strong Keyword Matches</div>   
                    <div data-strong-keyword-match></div>
                </div>

                <div class="col-sm-12 col-md-3">                      
                    <div>Partial Keyword Matches</div> 
                    <div data-partial-keyword-match></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div>Common Tags</div>
                    <div data-tags></div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div>Images</div>
                    <div data-images></div>
                </div>
            </div>
        </div>        
    </section>

    <section class="all-listings">
        <div data-top-listings>
            <h3>All Analysed Listings</h3>   

            <div class="row">
                <div class="col-sm-12 col-md-3">    
                    <div>Average Age</div>       
                    <div data-avg-age></div>  
                </div>

                <div class="col-sm-12 col-md-3">    
                    <div>Average Views (Monthly)</div>           
                    <div data-avg-monthly-views></div>
                </div>

                <div class="col-sm-12 col-md-3">    
                    <div>Strong Keyword Matches</div>   
                    <div data-strong-keyword-match></div>
                </div>

                <div class="col-sm-12 col-md-3">                       
                    <div>Partial Keyword Matches</div> 
                    <div data-partial-keyword-match></div>
                </div>
            </div>
            
            <div class="row">                
                <div class="col">    
                    <div>Common Tags</div>
                    <div data-tags></div>
                </div>
            </div>
            
            <div class="row">        
                <div class="col">    
                    <div>Images</div>
                    <div data-images></div>
                </div>
            </div>
        </div>             
    </section>

    <section class="word-cloud">
        <div id="word-cloud"  style="width: 550px; height: 350px;"></div>         
    </section>
</div>
<section class="loading">
    <div id="loading" class="hide">LOADING</div>    
</section>
