<section id="search-heading" class="heading">
    <h1>EtsySuggest</h1>
    <p>Try our Etsy Listing Checker. Get a glimpse into how other sellers are ranking</p>
</section>

<section class="search" id="search-bar">
    <form id="search-form">
        <div>
            <input type="text" placeholder="Enter your keyword" id="keyword" />
            <button type="submit" id="getKeywords">SEARCH</button>
        </div>
    </form>
</section>

<section id="tool-features" class="tool-features">
</section>

<div id="result" class="hide">
    <section class="overview">
        <div class="row">
            <div class="col-sm-12 col-md-4 stat">
                <h3>Listings Analysed</h3>
                <div class="stat-value" data-analysed-listings></div> 
            </div>
            <div class="col-sm-12 col-md-4 stat">
                <h3>Competiton</h3>
                <div class="stat-value" data-competiton></div>
            </div>
            <div class="col-sm-12 col-md-4 stat">
                <h3>Unique Competing Stores</h3>
                <div class="stat-value" data-unique-stores></div>
            </div>
        </div>
    </section>

    
    <section class="top-ranking">
        <div data-top-ranking>
            <h2>Ranking Listings</h2>    

            <div class="row">
                <div class="col-sm-12 col-md-3 stat">
                    <h3>Average Age</h3>       
                    <div class="stat-value" data-avg-age></div>  
                </div>

                <div class="col-sm-12 col-md-3 stat">
                    <h3>Average Views (Monthly)</h3>           
                    <div class="stat-value" data-avg-monthly-views></div>
                </div>

                <div class="col-sm-12 col-md-3 stat">
                    <h3>Strong Keyword Matches</h3>   
                    <div class="stat-value" data-strong-keyword-match></div>
                </div>

                <div class="col-sm-12 col-md-3 stat">              
                    <h3>Partial Keyword Matches</h3> 
                    <div class="stat-value" data-partial-keyword-match></div>
                </div>
            </div>            
            <div class="row">
                <div class="col">
                    <div>Common Tags</div>
                    <div class="stat-value" data-tags></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div>Images</div>
                    <div data-images></div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="top-performing">
        <div data-top-performing>
            <h2>Performing Listings</h2> 

            <div class="row">
                <div class="col-sm-12 col-md-3 stat">      
                    <h3>Average Age</h3>       
                    <div class="stat-value" data-avg-age></div>  
                </div>

                <div class="col-sm-12 col-md-3 stat">      
                    <h3>Average Views (Monthly)</h3>           
                    <div class="stat-value" data-avg-monthly-views></div>
                </div>

                <div class="col-sm-12 col-md-3 stat">      
                    <h3>Strong Keyword Matches</h3>   
                    <div class="stat-value" data-strong-keyword-match></div>
                </div>

                <div class="col-sm-12 col-md-3 stat">                       
                    <h3>Partial Keyword Matches</h3> 
                    <div class="stat-value" data-partial-keyword-match></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div>Common Tags</div>
                    <div data-tags></div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div>Images</div>
                    <div data-images></div>
                </div>
            </div>
        </div>        
    </section>

    <section class="all-listings">
        <div data-top-listings>
            <h2>All Analysed Listings</h2>   

            <div class="row">
                <div class="col-sm-12 col-md-3 stat">    
                    <h3>Average Age</h3>       
                    <div class="stat-value" data-avg-age></div>  
                </div>

                <div class="col-sm-12 col-md-3 stat">    
                    <h3>Average Views (Monthly)</h3>           
                    <div class="stat-value" data-avg-monthly-views></div>
                </div>

                <div class="col-sm-12 col-md-3 stat">    
                    <h3>Strong Keyword Matches</h3>   
                    <div class="stat-value" data-strong-keyword-match></div>
                </div>

                <div class="col-sm-12 col-md-3 stat">                       
                    <h3>Partial Keyword Matches</h3> 
                    <div class="stat-value" data-partial-keyword-match></div>
                </div>
            </div>
            
            <div class="row">                
                <div class="col">    
                    <div>Common Tags</div>
                    <div data-tags></div>
                </div>
            </div>
            
            <div class="row">        
                <div class="col">    
                    <div>Images</div>
                    <div data-images></div>
                </div>
            </div>
        </div>             
    </section>

    <section class="word-cloud">
        <div id="word-cloud"  style="width: 550px; height: 350px;"></div>         
    </section>
</div>
<section class="loading">
    <div id="loading" class="hide">LOADING</div>    
</section>
