<div class="sidebar"> 
        <!-- Ezoic - sidebar - sidebar -->
        <div id="ezoic-pub-ad-placeholder-102"> </div>
        <!-- End Ezoic - sidebar - sidebar -->
        {% include useful.html %}

        {% include recommended.html %}
        
        <!-- Ezoic - sidebar_middle - sidebar_middle -->
<div id="ezoic-pub-ad-placeholder-101"> </div>
<!-- End Ezoic - sidebar_middle - sidebar_middle -->
        
        <div class="sidebar-section">
                <h5><span>Search</span></h5>
                {% include search-form.html %}
        </div>
        <!-- Ezoic - sidebar_bottom - sidebar_bottom -->
<div id="ezoic-pub-ad-placeholder-105"> </div>
<!-- End Ezoic - sidebar_bottom - sidebar_bottom -->
</div>
