

$nav-background: #00B2D8;
$nav-font: #fff;

$jumbotron-background: #ECEEEF;
$jumbotron-font: #FFF;

$secondary-jumbotron-background: #f6f6f4;

$content-font: #24292e;

$footer-background: #00B2D8;
$footer-secondary-background: #24292e;
$footer-font: #fff;
