<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="jumbotron post-colour-black dark" style="background: url(/images/home-maps.jpeg) no-repeat center center">
      <div class="container text-center">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.sub-title }}</p>
      </div>
    </div>
    
    <div class="jumbotron sub-tron my-3">
      <div class="container text-center">
        <h2>BFEA is the largest Flat Earth organisation in the UK</h2>
        <p>With more than 1,000 researchers, consultants and students as supporters we represent Flat Earthers in the UK and promote positive change across the country.</p>
        <a class="btn btn-outline-primary" href="/about">Find out more about how we help</a>
      </div>
    </div>
    
    <div class="container my-md-5">
      <div class="row">
        <div class="col-sm-12 col-lg-4 my-3 text-center">
          <svg id="i-msg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M2 4 L30 4 30 22 16 22 8 29 8 22 2 22 Z" />
          </svg>
          <h3>Learn</h3>
          <p>Find out more about BFEA by going to our About Us section</p>
          <a class="btn btn-outline-primary" href="/about">Go to About Us</a>
        </div>
        <div class="col-sm-12 col-lg-4 my-3 text-center">
          <svg id="i-portfolio" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M29 17 L29 28 3 28 3 17 M2 8 L30 8 30 16 C30 16 24 20 16 20 8 20 2 16 2 16 L2 8 Z M16 22 L16 18 M20 8 C20 8 20 4 16 4 12 4 12 8 12 8" />
          </svg>
          <h3>Find</h3>
          <p>Find out more about the current state of Flat Earth by going to our Resources section</p>
          <a class="btn btn-outline-primary" href="/articles">Go to Articles</a>
        </div>
        <div class="col-sm-12 col-lg-4 my-3 text-center">
           <svg id="i-mail" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M2 26 L30 26 30 6 2 6 Z M2 6 L16 16 30 6" />
          </svg>
          <h3>See</h3>
          <p>Find out more about the future of Flat Earth Theory (FET) by joining our Mailing List</p>
          <a class="btn btn-outline-primary" href="/newsletter">Join Our Mailing List</a>
        </div>
      </div>
    </div>
    
    <div class="jumbotron quote my-3">
      <div class="container text-center">
        <h3>"Although we are small in number, we make up for it in the strength of our convictions. We sleep safe in the knowledge that one day the truth will be revealed and we will be vindicated."</h3>
        <p>Dan Thirkell (senior BFEA member)</p>
      </div>
    </div>
    
    <div class="container my-md-5">
      <h3 class="text-center">Popular Content</h3>
      <div class="row">
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4>What is Flat Earth Theory?</h4>
              <p>An introduction into Flat Eather Theory</p>
              <a class="btn btn-outline-primary" href="/articles/what-is-the-flat-earth-theory">Go</a>
            </div>
          </div>
        </div>
        
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4>FAQ</h4>
              <p>All the basics explained</p>
              <a class="btn btn-outline-primary" href="/faq">Go</a>
            </div>
          </div>
        </div>
        
        
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4>Flat Earth Theory and NASA</h4>
              <p>NASA have had a checkered past with Flat Earthers, with many seeing them has the creators of the great Globe Hoax.</p>
              <a class="btn btn-outline-primary" href="/articles/flat-earth-theory-and-nasa">Go</a>
            </div>
          </div>
        </div>
        
        
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4>Flat Earth Theory And Celebrity</h4>
              <p>Many high profile musicians, arts and sports people have come forward in recent years to help promote Flat Earth Theory. </p>
              <a class="btn btn-outline-primary" href="/articles/flat-earth-theory-and-celebrity">Go</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  {% include footer.html %}
  {% include scripts.html %}
  
  </body>
</html>
