<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="jumbotron main post-colour-black dark mb-0" style="url({{ site.url}}images/home-maps.jpeg) no-repeat center center">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.sub-title }}</p>
<!--<div>
          <a class="btn btn-outline-primary" href="/newsletter">Join Our Mailing List</a>
        </div>
-->
      </div>
    </div>
    
    <div class="jumbotron main post-colour-black dark">
      <div class="container">
        <h2>Club, County, Country</h2>
        <p class="lead">All athletes can benefit from mind coaching. It has been shown to improve performance equally for elite and club athletes.</p>
      </div>
    </div>
    
    <div class="container my-md-5">
      <h3 class="text-center">Passion for Local sport</h3>
      <div class="row">
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4></h4>
            </div>
          </div>
        </div>
        
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4></h4>
            </div>
          </div>
        </div>
        
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4></h4>
            </div>
          </div>
        </div>
        
        <div class="col-xs-6 col-lg-3 my-3 text-center">
          <div class="border">
            <div class="p-3">
              <h4></h4>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="jumbotron sub-tron dark mb-0"  style="background: linear-gradient(rgba(34, 37, 40, 0.45), rgba(34, 37, 40, 0.45)),url({{ site.url}}images/people-coffee-notes-tea.jpg) no-repeat center center">
      <div class="container text-center">
        <h2>A Passion For Local Sport</h2>
      </div>
    </div>
    
    
    <div class="jumbotron quote">
      <div class="container text-center">
        <h3>"Reece and his team helped push my game to the county level. Now I feel 100% focused, every game"</h3>
        <p>County Squash Player</p>
      </div>
    </div>
    
    

  {% include footer.html %}
  {% include scripts.html %}
  
  </body>
</html>
